#development-list {

  .projects-header,
  .projects-header-spacer {
    height: 50px;
    // margin-bottom: $grid-gutter-width / 2;
  }

  .projects-header {
    h2,
    .nav {
      display: inline-block;
      vertical-align: bottom;
    }

    h2 {
      line-height: 1;
      margin-top: 5px;
    }

    .nav {
      display: none;
      margin-bottom: 4.5px;
      margin-left: 30px;
    }

    @media (min-width: $screen-sm-min) {
      .nav {
        display: inline-block;
      }

      &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        z-index: $zindex-navbar-fixed;

        & + .projects-header-spacer {
          display: block;
        }
      }
    }
  }

  .projects-header-spacer {
    display: none;
  }

  .project {
    padding: ($line-height-computed * 5) 0;  

    .content {
      @include make-sm-column(7);

      h3 {
        text-transform: uppercase;
        margin-top: 0;
      }

      .label {
        font-size: 85%;
        font-weight: normal;
        padding: 2px 7px 1px;
        margin-right: 10px;
        margin-bottom: 1px;
      }

      .technologies,
      .hosting {
        @include make-md-column(6);
        margin-top: $grid-gutter-width / 2;
        margin-bottom: $grid-gutter-width / 2;

        > p {
          background-size: auto 100%;
          background-repeat: no-repeat;
          background-position: left center;
          padding-left: $line-height-computed + 5px;
        }

        > ul {
          @include list-unstyled;
          margin-left: -2px;
          margin-right: -2px;

          > li {
            display: inline-block;
            margin: 0 2px;

            > a {
              padding: ($padding-small-vertical / 2) $padding-small-horizontal;
              border: 1px solid $gray-lighter;
              border-radius: $border-radius-base;
              transition: all 150ms ease-in;

              &:hover {
                background-color: $gray-lighter;
                border-color: darken($gray-lighter, 10%);
              }
            }
          }
        }
      }

      .technologies > p {
        background-image: icon(code, $text-color);
      }

      .hosting > p {
        background-image: icon(server, $text-color);
      }
    }

    .screenshot {
      @include make-sm-column(5);

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
