#app.home {
  .jumbotron {
    background-color: rgba(darken(#a54b0d, 10%), .8);
    border-top: 1px solid darken(#a54b0d, 10%);
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;

    @media (min-height: 1100px) {
      top: 62%;
    }

    > .container {
      width: 600px;
    }

    h1 {
      margin-top: 0;
    }

    a {
      color: #fff;
      position: relative;

      &::after {
        content: ' ';
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #fff;
        transition: all 100ms ease-in;
      }

      &:hover {
        &::after {
          background-color: $brand-primary;
          height: 3px;
        }
      }
    }

    .btn {
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;
      transition: all 150ms ease-in;
      text-decoration: none;

      &::after {
        content: none;
      }

      &:hover {
        border-color: darken($brand-primary, 5%);
        background-color: $brand-primary;
      }
    }

    .social-links {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      margin-left: 10px;
      margin-bottom: -5px;

      > .social-link {
        $color: #fff;
        $hover-color: $brand-primary;
        margin-left: 5px;
        margin-right: 5px;

        > a {
          background-color: transparent;
          border-radius: 50%;
          border: 1px transparent solid;
          width: $line-height-computed + $padding-base-vertical * 2 + 2px;
          height: $line-height-computed + $padding-base-vertical * 2 + 2px;
          transition: all 150ms ease-in;

          &::after {
            content: none;
          }
        }

        &.facebook > a {
          background-image: icon(facebook, $color);

          &:hover {
            background-color: $hover-color;
            border-color: darken($hover-color, 5%);
          }
        }

        &.linkedin > a {
          background-image: icon(linkedin, $color);

          &:hover {
            background-color: $hover-color;
            border-color: darken($hover-color, 5%);
          }
        }
      }
    }
  }
}

section {
  &.development {
    .projects {
      @include make-row;
      @include list-unstyled;

      > .project {
        @include make-md-column(4);
        position: relative;
        padding-top: $grid-gutter-width / 2;
        padding-bottom: $grid-gutter-width / 2;

        > a {

          h3 {
            margin: 0;
            position: absolute;
            z-index: 1001;
            color: #fff;
            left: 50%;
            top: 25%;
            opacity: 0;
            visibility: hidden;
            transform: translateX(-50%) translateY(-50%);
            transition: visibility 0ms ease-in 150ms, top 150ms ease-in, opacity 150ms ease-in;
          }

          .screen > .viewport > .overlay {
            transition: visibility 0ms ease-in 150ms, opacity 150ms ease-in;
          }

          &:hover {
            h3 {
              top: 50%;
              opacity: 1;
              visibility: visible;
              transition-delay: 0s;
            }

            .screen {
              .viewport {
                .overlay {
                  visibility: visible;
                  opacity: .75;
                  transition-delay: 0s;
                }
              }
            }
          }
        }
      }
    }
  }
}
