section {
  &.development {
    .projects {
      @include make-row;
      @include list-unstyled;

      > .project {
        @include make-md-column(4);
        position: relative;

        h3 {
          position: absolute;
          z-index: 1001;
          color: #fff;
          left: 49%;
          top: 38%;
          transform: translateX(-50%) translateY(-50%);
        }

        .screenshot {
          display: block;
          width: 100%;
          height: auto;
          z-index: 999;
        }

        .overlay {
          background-color: $brand-primary;
          position: absolute;
          width: 82.9%;
          height: 84.7%;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          opacity: .8;
          z-index: 1000;
        }
      }
    }
  }
}
