#app.resume {
  article.content {
    > section {
      margin-bottom: $grid-gutter-width-base * 2;

      &#experience,
      &#education {
        > ul {
          @include list-unstyled;
        }
      }

      &#experience {
        ul {
          .location {
            font-weight: bold;            
          }

          .period {
            font-style: italic;
          }

          @include media-breakpoint-up(sm) {
            h3 {
              float: left;
              margin-top: 0;
            }

            .location,
            .period {
              float: right;
            }

            .period {
              clear: right;
            }

            .roles > li {
              clear: both;
            }
          }

          &.roles {
            @include list-unstyled;
          }
        }

        > ul {
          > li {
            margin-top: $grid-gutter-width-base;
          }
        }
      }
    }

    .body {
      p + ul {
        margin-bottom: ($line-height-base * $font-size-base) / 2;
        margin-top: - (($line-height-base * $font-size-base) / 3);
      }

      .redacted {
        font-style: italic;
        color: $text-muted;
      }
    }
  }
}
