form {
  .form-group,
  .radio-group {
    &.required {
      .control-label {
        &:after {
          content: "*";
        }
      }
    }
  }

  .radio-group {
    .control-label {
      font-weight: bold;
    }
  }

  &.form-horizontal {
    .form-group {
      .control-label,
      .control-wrapper {
        @include make-col-ready;
      }
      .control-label {
        text-align: left;

        @include media-breakpoint-up(md) {
          @include make-col(3);
        }
      }

      .control-wrapper {
        @include media-breakpoint-up(md) {
          @include make-col(9);
        }
      }
    }
  }

  .alert {
    margin-top: $line-height-base * $font-size-base;
  }
}

.form-control {
  font-family: $font-family-base;
}

.btn[type=submit] {
  margin-top: $line-height-base * $font-size-base;
  padding: $btn-padding-y-lg $btn-padding-x-lg;

  .loader-icon {
    @include loader-color(#fff, $brand-primary);
    @include loader-size(0);
    margin-bottom: 0;
    margin-right: 0;
  }

  &.loading {
    opacity: 1;

    .loader-icon {
      @include loader-size(1.125rem);
      margin-bottom: -(4px/16px*1rem);
      margin-right: $btn-padding-x;
    }
  }

  @include media-breakpoint-down(xs) {
    width: 100%;
    display: block;
  }
}

.errorlist {
  &.nonfield {
    margin-bottom: $line-height-base * $font-size-base;
    padding: 0 $grid-gutter-width-base / 2;
    list-style-type: none;

    li {
      @include alert-variant(theme-color-level('danger', $alert-bg-level), theme-color-level('danger', $alert-border-level), theme-color-level('danger', $alert-color-level));
      margin-bottom: (5px/16px) * 1rem;
      border: 1px solid transparent;
      border-radius: $alert-border-radius;
      padding: $alert-padding-y $alert-padding-x;
    }
  }
}

.form-control-feedback {
  @include list-unstyled;
}
