@mixin list-unstyled {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

@mixin clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
