@import "../../node_modules/normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

@import "variables";
@import "mixins";

@import "components/base";

@import "layout/base";
@import "views/base";

a {
  color: #24890d;
  text-decoration: none;
}
