@import "vendor/galleryview";

.gv_galleryWrap {
  background-color: transparent;
  padding-left: 0 !important;
  padding-right: 0 !important;

  @media (max-width: $screen-sm-max) {
  	margin-left: - $container-padding-xs;
  	margin-right: - $container-padding-xs;
  }
}

.gv_panelNavNext {
  height: 35px;
  background-image: url(../images/galleryview/Arrows_next.png);
}

.gv_panelNavPrev {
  height: 35px;
  background-image: url(../images/galleryview/Arrows_prev.png);
}
