.alert {
  $transition: all 300ms ease;
  overflow: hidden;

  &.slide-down-enter {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;

    &.slide-down-enter-active {
      transition: $transition;
      max-height: 6.25rem;
      padding-top: $alert-padding-y;
      padding-bottom: $alert-padding-y;
      border-width: 1px;
    }
  }

  &.slide-down-leave {
    max-height: 6.25rem;
    padding-top: $alert-padding-y;
    padding-bottom: $alert-padding-y;
    border-width: 1px;

    &.slide-down-leave-active {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      border-width: 0;
      transition: $transition;
    }
  }
}
