@import 'svg';
@import 'loader';
@import 'forms';
@import 'alert';
@import 'social_links';
@import 'lazy_img';
@import 'screen';
@import 'background_image';
@import 'browserupgrade';

.page-header {
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: .625rem;
  margin: 2.75rem 0 1.375rem;
}

.body {
  margin-bottom: 2.75rem;
}

.btn {
  font-family: $font-family-base;
}

.breadcrumb {
  .breadcrumb-item {
    .nav-link {
      padding: 0;
    }
  }
}
