.browserupgrade {
  background-color: $state-warning-bg;
  color: $state-warning-text;
  border-bottom: 1px solid $state-warning-border;
  padding: $alert-padding-y * 1.5 $alert-padding-x * 1.5;
  text-align: center;
  font-size: 1.25rem;

  a {
    font-weight: $alert-link-font-weight;
  }
}
