.social-links {
  @include list-unstyled;

  > .social-link {
    $size: 40px;
    display: inline-block;

    > a {
      display: block;
      overflow: hidden;
      text-indent: -10000px;
      width: $size;
      height: $size;
      background-position: center;
      background-size: auto 50%;
      background-repeat: no-repeat;
    }

    &.facebook > a {
      background-image: icon(facebook, $text-color);

      &:hover {
        background-image: icon(facebook, lighten($text-color, 25%));        
      }
    }

    &.linkedin > a {
      background-image: icon(linkedin, $text-color);

      &:hover {
        background-image: icon(linkedin, lighten($text-color, 25%));        
      }
    }
  }
}
