.social-links {
  @include list-unstyled;

  > .social-link {
    $size: 40px;
    $color: #fff;
    $hover-color: darken(#fff, 25%);
    display: inline-block;

    > a {
      display: block;
      overflow: hidden;
      text-indent: -10000px;
      width: $size;
      height: $size;
      background-position: center;
      background-size: auto 50%;
      background-repeat: no-repeat;
      transition: background-image 150ms ease-in-out;
    }
  }
}
