@function color-to-str($color) {
  $string: inspect($color);
  
  @if str-slice($string, 1, 1) == '#' {
    @return unquote('%23#{str-slice($string, 2, str-length($string))}');
  } @else {
    @return $color;
  }
}

@function _buildIcon($icon, $width: 100, $height: 100) {
  $icon: '%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22#{$width}%22%20height%3D%22#{$height}%22%3E#{$icon}%3C%2Fsvg%3E';
  @return $icon;
}

@function _buildPath($path, $parameters) {
  $icon: '%3Cpath%20fill%3D%22#{map-get($parameters, color)}%22%20stroke%3D%22#{map-get($parameters, stroke-color)}%22%20stroke-width%3D%22#{map-get($parameters, stroke-width)}%22%20style%3D%22#{map-get($parameters, css)}%22%20d%3D%22#{$path}%22%20%2F%3E';
  @return $icon;
}

@function icon(
  $icon-name,
  $color, 
  $stroke-color: transparent,
  $stroke-width: 0,
  $css: '' // arbitrary css,
  ){
    $parameters: (
      'color': color-to-str($color),
      'stroke-color': color-to-str($stroke-color),
      'stroke-width': $stroke-width,
      'css': $css
    );
    
    $icons: (
      chevronRight: (_buildPath('M79.41 52.65L35.682 96.38c-.748.747-1.633 1.12-2.652 1.12-1.02 0-1.906-.373-2.654-1.12l-9.78-9.78c-.748-.748-1.122-1.634-1.122-2.652 0-1.022.374-1.907 1.122-2.655L51.886 50l-31.29-31.29c-.748-.75-1.122-1.63-1.122-2.653 0-1.022.374-1.907 1.122-2.65l9.78-9.785C31.124 2.874 32.01 2.5 33.03 2.5c1.02 0 1.905.374 2.653 1.122L79.41 47.35c.743.747 1.117 1.632 1.117 2.65 0 1.023-.375 1.908-1.118 2.65z', $parameters), 100, 100),
      chevronLeft: (_buildPath('M19.474 50c0-1.02.374-1.904 1.117-2.65L64.318 3.62C65.065 2.874 65.95 2.5 66.97 2.5c1.02 0 1.907.374 2.655 1.122l9.78 9.785c.747.743 1.12 1.628 1.12 2.65 0 1.023-.373 1.904-1.12 2.652L48.112 50l31.29 31.292c.75.748 1.123 1.633 1.123 2.655 0 1.02-.374 1.904-1.122 2.652l-9.78 9.778c-.747.748-1.633 1.12-2.655 1.12-1.02 0-1.904-.372-2.652-1.12L20.59 52.65c-.742-.742-1.116-1.627-1.116-2.65z', $parameters), 100, 100),
      facebook: (_buildPath('M28.871 50v-22.807h7.656l1.146-8.888h-8.802v-5.675c0-2.573 0.715-4.327 4.405-4.327l4.707-0.002v-7.95c-0.814-0.108-3.608-0.35-6.859-0.35-6.786 0-11.432 4.142-11.432 11.749v6.555h-7.675v8.888h7.675v22.807h9.179z', $parameters), 50, 50),
      linkedin: (_buildPath('M37.365 25.635c-0.642-0.798-1.796-1.198-3.464-1.198-2.127 0-3.619 0.623-4.479 1.869s-1.287 2.979-1.287 5.204v17.077c0 0.337-0.127 0.633-0.381 0.887s-0.561 0.381-0.923 0.381h-8.92c-0.338 0-0.634-0.127-0.888-0.381s-0.381-0.55-0.381-0.887v-31.473c0-0.338 0.127-0.635 0.381-0.889 0.254-0.253 0.55-0.38 0.888-0.38h8.667c0.312 0 0.567 0.061 0.762 0.183 0.193 0.119 0.319 0.344 0.381 0.669 0.057 0.327 0.094 0.544 0.108 0.653 0.010 0.108 0.017 0.381 0.017 0.817 2.247-2.104 5.219-3.154 8.919-3.154 4.134 0 7.373 1.031 9.718 3.099 2.342 2.066 3.517 5.142 3.517 9.226v21.25c0 0.337-0.127 0.633-0.38 0.887-0.254 0.254-0.55 0.381-0.889 0.381h-9.137c-0.338 0-0.635-0.127-0.888-0.381-0.254-0.254-0.381-0.55-0.381-0.887v-19.181c0-1.717-0.319-2.971-0.96-3.771zM10.335 10.478c-1.187 1.185-2.613 1.777-4.281 1.777s-3.092-0.592-4.277-1.777c-1.183-1.185-1.776-2.61-1.776-4.278s0.592-3.094 1.777-4.278c1.185-1.184 2.61-1.777 4.277-1.777s3.094 0.592 4.281 1.777c1.182 1.185 1.777 2.61 1.777 4.278s-0.595 3.093-1.777 4.278zM11.783 17.114v31.473c0 0.337-0.126 0.633-0.38 0.887s-0.551 0.381-0.888 0.381h-8.921c-0.338 0-0.634-0.127-0.887-0.381s-0.381-0.55-0.381-0.887v-31.473c0-0.338 0.127-0.635 0.381-0.889 0.254-0.253 0.55-0.38 0.887-0.38h8.921c0.338 0 0.635 0.127 0.888 0.38 0.254 0.254 0.379 0.55 0.379 0.889z', $parameters), 50, 50),
    );


    $component: map-get($icons, $icon-name);
    $icon: _buildIcon(nth($component, 1), nth($component, 2), nth($component, 3));
    @return url("data:image/svg+xml;charset=utf8,#{$icon}");
  }
