<footer id="colophon" class="site-footer" role="contentinfo">

	<div id="supplementary">

		<div id="footer-content" class="footer-content widget-area" role="complementary">
			All site content and images copyright &copy;<%= Date.today.year %> by Walker Angell.
		</div><!-- #footer-sidebar -->

	</div><!-- #supplementary -->

</footer>
