@import "sidebar";
@import "nav";
@import "footer";

body {
  color: #2b2b2b;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  background: #191919;
}

#main {
  position: relative;
  z-index: 1;
}

#primary {
  body.index & {
    padding-top: 20px;
  }
}

#main-content {
  width: auto;
  overflow: auto;
  padding: 15px 20px 0;
  background: #2c2c2c;
  min-height: 100vh;
  box-shadow: -1px 0px 3px 0px rgba(255, 255, 255, .2);
  color: #ccc;

  body.index & {
    background: none;
    box-shadow: none;
    border: none;
    padding-top: 0;
  }
}
