#app > header {
  z-index: $zindex-navbar;

  nav {
    text-align: center;
    margin-bottom: (20px/16px * 1rem);

    @include media-breakpoint-up(sm) {
      margin-bottom: (50px/16px * 1rem);
    }

    > a {
      $spacing: (20px/16px * 1rem);
      z-index: $zindex-navbar;
      display: inline-block;
      color: $gray-light;
      font-size: 1.25em;
      padding: (10px/16px * 1rem) ($spacing / 2);
      margin: 0 $spacing / 2;
      text-transform: lowercase;
      vertical-align: middle;
      position: relative;
      transition: color 150ms ease-in;

      @include media-breakpoint-up(sm) {
        padding-top: $spacing;
        padding-bottom: $spacing;
      }

      &:hover,
      &:active {
        color: $brand-primary;
      }

      &.site-title {
        font-size: 2em;
        font-weight: bold;
        text-transform: none;

        &.hidden-sm-up {
          display: block;
        }

        &::after {
          display: none;
        }
      }

      &::after {
        content: ' ';
        height: (3px/16px * 1rem);
        width: 0;
        background-color: $brand-primary;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        transition: width 150ms ease-in;
      }

      &.active {
        color: $brand-primary;

        &::after {
          width: 60%;
        }
      }
    }
  }
}
