#menu-main-nav {
  display: none;

  @media (min-width: $sidebar-breakpoint) {
    display: inherit;
  }

  .menu {
    font-size: 1.5em;
  }
}

ul {

  &.menu {
    $link-spacing: 8px;
    font-weight: 300;

    &,
    ul {
      @include list-unstyled;
      margin-top: - $link-spacing;
      margin-bottom: - $link-spacing;
    }

    ul {
      font-size: 0.85em;
      padding-top: 15px;
      padding-bottom: $link-spacing;
    }

    li {
      padding: $link-spacing 0;

      #sidebar &.current-menu-item {
        > a {
          color: $sidebar-hover-color;
          font-weight: 400;
        }
      }

      &.menu-item-has-children {
        > a {
          font-weight: 500;
        }

        #sidebar &.current-menu-item {
          > a {
            font-weight: 600;
          }
        }
      }
    }

    body.index & {
      font-weight: 400;
    }
  }
}
