#sidebar {
  color: $sidebar-color;
  background-color: $sidebar-background;
  border-bottom: $sidebar-border;
  text-shadow: -1px 0 1px rgba(#000, .6);
  padding: 0 $grid-gutter-width / 2;

  .mobile-nav {
    @include clearfix;

    #menu-collapse-button {
      &.active {
        background-color: $navbar-inverse-toggle-hover-bg;
      }
    }
  }

  a {
    color: $sidebar-link-color;

    &:hover {
      color: $sidebar-hover-color;
    }
  }

  .site-title {
    float: left;
    line-height: 1;
    margin: ($navbar-height - $font-size-h1) / 2 0;

    a {
      font-weight: 500;
      letter-spacing: -.07em;
    }

    @media (min-width: $sidebar-breakpoint) {
      margin-top: 0;
      margin-bottom: 1.5em;
    }
  }

  @media (min-width: $sidebar-breakpoint) {
    width: $sidebar-width;
    float: left;
    padding: 15px 20px 0;
    border-bottom: 0;
  }

  #menu-collapse-button {
    $bar-width: 25px;
    $bar-height: round($bar-width * 0.08);
    $bar-spacing: 0.2;
    $border-width: 1px;

    background-color: transparent;
    border: $border-width solid $sidebar-color;
    border-radius: 5px;
    height: auto;
    padding: $bar-spacing * $bar-width 8px;
    float: right;
    margin: ($navbar-height - ($bar-height * 3 + $bar-spacing * $bar-width * 6 + $border-width * 2)) / 2 0;

    > span {
      background-color: $sidebar-color;
      width: $bar-width;
      height: $bar-height;
      margin: $bar-spacing * 100 + % 0;
      display: block;
      border-radius: 10px;
    }

    &.open {
      background-color: lighten($sidebar-background, 10%);

      #app.home & {
        background-color: rgba($sidebar-color-home, 0.25);
      }

      > span {
        background-color: darken($sidebar-color, 2.5%);
      }
    }

    &:active,
    &:focus {
      outline: none;
    }

    @media (min-width: $sidebar-breakpoint) {
      display: none;
    }
  }

  #app.home & {
    background-color: transparent;
    border: 0;

    .site-title,
    a {
      color: $sidebar-color-home;

      &:hover {
        color: darken($sidebar-color-home, 2.5%);
      }
    }

    #menu-collapse-button {
      border-color: $sidebar-color-home;
      > span {
        background-color: $sidebar-color-home;
      }
    }
  }
}
