<% if gallery.images %>
<div class="gallery centered-vertically centered-horizontally">
	<ul>
		<% gallery.images.each do |image| %>
			<li class="gallery-image">
				<img src="<%= image_path "portfolio/#{gallery.slug}/#{image.file}", :resize_to => '1640x1640' %>" 
					 srcset="<%= image_path "portfolio/#{gallery.slug}/#{image.file}", :resize_to => '1640x1640' %> 1640w, <%= image_path "portfolio/#{gallery.slug}/#{image.file}", :resize_to => '3280x3280' %> 3280w"
					 sizes="(min-width: 769px) calc(100vw - 291px), 100vw" />
			</li>
		<% end %>
	</ul>
</div>
<% end %>
