@import '~Styles/variables';


.screen {
  border-radius: $border-radius-sm;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 1px rgba(#000, .2);

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }

  .top-bar {
    $height: (15px/16px) * 1rem;
    $bg: #e0dfe0;
    height: $height;
    background-color: $bg;
    background-image: browser-buttons();
    background-size: auto 100%;
    background-position: left center;
    background-repeat: no-repeat;
    border-bottom: 1px solid darken($bg, 2.5%);
    position: relative;

    .url {
      color: $gray-light;
      position: absolute;
      width: percentage(1/3);
      min-height: (10px/16px) * 1rem;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: #fafafa;
      font-size: $height * .4;
      line-height: 1;
      border-radius: (2px/16px) * 1rem;
      padding: ((2px/16px) * 1rem) ((3px/16px) * 1rem);
    }
  }

  .viewport {
    position: relative;

    > img {
      display: block;
      width: 100%;
      height: auto;
      z-index: 999;
    }
  }
}
