@import '~Styles/variables';


body,
html {
  height: 100%;
}

main {
  position: relative;
  z-index: 1;
}

.app {
  position: relative;
}

.main-content {
  width: auto;
  overflow: auto;
  // padding: 0 $grid-gutter-width / 2;
  // box-shadow: -3px 0px 10px 2px rgba(#000, .5);
  // min-height: calc(100vh - #{$navbar-height});
  position: relative;

  @media (min-width: $sidebar-breakpoint) {
    // min-height: 100vh;
    // background: $body-bg;
    // border-left: $sidebar-border;
  }

  .app:global(.home) & {
    background: none;
    box-shadow: none;
    border: none;
    padding-top: 0;
    min-height: inherit;
  }
}
